<DOCTYPE html>

    <html>

    <head>
        <title>About</title>
        <link rel="icon" href="/img/weather.png" />
        <link rel="stylesheet" href="/css/styles.css">

    </head>

    <body>
        <div class="main content"></div>
        {{>header}}
        <p> This site was created by Geazelle. </p>
        <img class="portrait" src="/img/pic.jpg">
        </div>
        {{>footer}}
    </body>


    </html>


</DOCTYPE>